{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}
<div class="content">
    <div class="page-inner">
        <div class="page-with-aside mail-wrapper bg-dark2">


            {% include "mensajeria/sidebar.html" %}
            <div class="page-content mail-content">
                <div class="email-head d-lg-flex d-block">
                    <h3>                       
                        {{ mensaje.subject }}
                    </h3>
                    <div class="controls mt-3 mt-lg-0">
                        {% if mensaje.destinatario.pk == user.pk %}
                        <a href="{% url 'messages_reply' mensaje.id %}"><i class="fa fa-reply"></i></a>
                        {% endif %}
                        <a href="{% url 'messages_delete' mensaje.id %}"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                <div class="email-sender">
                    <div class="avatar">
                        <img src="{{mensaje.remitente.profile.get_avatar}}" alt="Avatar">
                    </div>
                    <div class="sender">
                        <a class="from">de {{ mensaje.remitente }}</a> para <a  class="to">{{ mensaje.destinatario }}</a> 
                        
                    </div>
                    <div class="date">{{ mensaje.enviado_el |date:_("DATETIME_FORMAT")}}</div>
                </div>
                <div class="email-body">
                    {{ mensaje.cuerpo|safe }}<br /><br />
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock %}