{% for cuenta in cuentas %}
<div class="col-sm-6 col-md-3">
	<div class="card card-stats card-primary card-round">
		<div class="card-body">
			<div class="row">
				<div class="col-5">
					<div class="icon-big text-center">
						<i class="flaticon-users"></i>
					</div>
				</div>
				<div class="col-7 col-stats">
					<div class="numbers">
						<p class="card-category">{{cuenta.nombre}}</p>
						<h4 class="card-title">$ {{cuenta.monto}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}

		

			

	
			
		
			
		
	
	


				
				
        
        