{% extends "layouts/base.html" %}

{% block title %} Categorias {% endblock %} 

<!-- Css para la pagina actual -->
{% block stylesheets %} {% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="page-inner">      
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Categorias</h4>
              <div style="display: flex;justify-content: flex-end;align-items: center;">
                <a href="#" class="btn btn-secondary btn-round" data-toggle="modal" data-target="#Modalcategoria" >añadir categoria</a>
              </div> 
              
          </div>
          <div class="card-body">
            <div class="row">
              {% for categoria in categorias %}
              <div class="col-5 col-md-4">
                <div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd"  role="tablist" aria-orientation="vertical">
                  <a class="nav-link " data-toggle="collapse" href="#{{categoria.pk}}" role="tab" aria-controls="v-pills-home-nobd" aria-selected="false">{{categoria.nombre}}</a>                  
                </div>
              </div>
              
              <div class="col-7 col-md-8" >
                <div class="tab-content" id="v-pills-with-icon-tabContent">                
                  <div class="collapse fade card-body bg-dark" id="{{categoria.pk}}" role="tabpanel" aria-labelledby="v-pills-home-tab-nobd">
                      {% for child in categoria.children.all %}																									
														
                            <div class="" style="display: flex;justify-content: flex-end;align-items: center;"> 
                              <h6 style="border-bottom: 1px solid;justify-content: flex-start">{{child.nombre}}</h6>                                                         
                              <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg"  data-original-title="Editar registro">
                                <a href="#"><i class="fa fa-edit"></i></a>
                              </button>
                                <form name="borrar_registro"  method="POST" action="#">
                                {% csrf_token %}
                                <input type="hidden" value="" name="std_id"> 
                                <button type="submit" onclick="validateForm()" class="btn btn-link btn-danger" data-toggle="tooltip" data-original-title="Eliminar registro">
                                  <i class="fa fa-times btn-link btn-danger"></i></button>
                                  </form>
                              </div>
                              													
											
                        {% endfor %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% include 'includes/modal_cargarcategoria.html' %}
{% endblock content %} 


<!--  JS para esta pagina  -->
{% block javascripts %} {% endblock javascripts %}
