
{% extends "layouts/base-fullscreen.html" %}

{% block title %}Cambio de Contraseña {% endblock title %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Cambio de contraseña</h4>            
        </div>
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">

                            {% if msg %}
                                <span class="text-danger">{{ msg | safe }}</span>
                            {% else %}
                            <span>
                                {{request.user.username}} ingresá tu nueva contraseña 
                            </span>
                            {% endif %}

                        </div>
                    </div>

                    <form method="post" action="">

                        {% csrf_token %}

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 "> 
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </div>
                                            {{ form.password1 }}
                                        </div>
                                    </div>
                                    <span class="text-danger">{{ form.password1.errors }}</span>

                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </div>
                                            {{ form.password2 }}
                                        </div>
                                    </div>
                                    <span class="text-danger">{{ form.password2.errors }}</span>

                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
                            &nbsp; &nbsp;
                            <span>¿te arrepentiste?</span> <a href="{% url 'home' %}" >Volver</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    


{% endblock content %}


{% block javascripts %}

    


{% endblock javascripts %}
